body {
    background-color: #f1f1f1;
    font-family: 'lato', serif;
    font-weight: 300;
    font-size: 16px;
}

header {
    margin-bottom: 50px;
    margin-top: 20px
}

footer {
    margin-top: 150px
}


th:first-child {
    width: 5%
}

th:nth-child(2) {
    width: 75%
}

td form {
    margin-right: 0.5rem;
}

.strike-through {
    text-decoration: line-through;
}
